@charset "utf-8";
body,html{font-family: "微软雅黑";margin: 0;padding: 0;}
.motai{background:rgba(0,0,0,0.1);width: 100%;height: 562px;padding-top: 100px;}
.zc{width: 350px;height: 470px;margin: 0px  auto;}
.name{width: 100%;height: 30px;line-height: 30px;}
.i1,.i2,.i3,.i4{width: 342px;height: 29px;border: 0;outline: none;padding: 4px;}
.pas,.con-pas,.emai{width: 100%;height:24px;padding-top: 30px;line-height: 24px;}
.ent{width: 80px;height: 40px;padding-top: 20px;border-radius: 50%;
margin: 40px auto;box-shadow: 2px 2px 5px #000;background: url(../images/regist/anniu.png)no-repeat center;text-align: center;color: #000;}
span:first-child{color: #fff;}
input{background:#cdccc7;}
.icon{position:relative;}
.icon img{position: absolute;right: 10px;top: -25px;}
