*{
			margin:0px;
			padding:0px;
		}
		body{
			font-family:"微软雅黑";
			overflow:hidden;
			background-color: #333;
		}
		.music{
			width:745px;
			margin:100px auto;
			box-shadow:0 0 5px #000;
			background: linear-gradient(#1b0824,#601b85,#984fbd);;
			overflow:hidden;
			border-radius:10px;
		}
		.title{
			height:50px;
			font-size:30px;
			line-height:50px;
			text-align:center;
			color:#eee;
			text-shadow:4px 4px 6px #000;
			background:url(../images/con_bot.png);
		}
		.main{
			position:relative;
			height:400px;
			color:#fff;
		}
		.m_spectrum{
			width:400px;
			height:400px;
			float:left;
			box-shadow:0 0 5px #ddd;
		}
		.m_spectrum div.m_sing{
			height:370px;
			text-align:center;
		}
		#m_gm{
			font-size:20px;
			font-weight:bold;
			color:#6cf;
			line-height:40px;
		}
		#m_singer{
			line-height:24px;
			font-weight:bold;
		}
		#m_star{
			margin-top:10px;
		}
		#m_star img{
			width:100px;
			height:100px;
			border-radius:50%;
		}
		#m_star img.rotate{
			animation:rot 2.5s linear infinite;
		}
		@keyframes rot{
			from{transform:rotate(0deg)}
			to{transform:rotate(360deg)}
		}
		.m_lyric{
			width:340px;
			height:400px;
			float:left;
			box-shadow:0 0 5px #ddd;
			margin-left:5px;
		}
		.m_lyric #lrcCon{
			margin-top:20px;
			transition:0.5s linear;
		}
		.m_lyric .content{
			height:370px;
			overflow:hidden;
		}
		.m_lyric #lrcCon p{
			text-align:center;
			line-height:20px;
			color:#ccc;
		}
		.m_list{
			position:absolute;
			right:-300px;
			top:30px;
			width:300px;
			height:370px;
			color:#66ffcc;
			background:rgba(0,0,0,.5);
		}
		.m_list ul li{
			list-style:none;
			text-align:center;
			line-height:30px;
			color:#fff;
			cursor:pointer;
		}
		#menu{
			position: absolute;
			top: 167px;
			right: 0px;
			width: 16px;
			height: 67px;
			background: url("../images/tubiao.png") no-repeat;
		}
		h2{
			height:30px;
			font-size:16px;
			text-align:center;
			line-height:30px;
			box-shadow:0 0 5px #ddd;
		}
		.control{
			height:70px;
			box-shadow:0 0 5px #ddd;
			background:url("../images/con_bot.png");
		}
		.con1{
			float: left;
			overflow: hidden;
		}
		a{
			float:left;
			text-decoration:none;
		}
		.con1 #pre,.con1 #next{
			width:41px;
			height:41px;
		}
		.con1 #pre{
			background:url("../images/houtui.png") 14px 12px no-repeat;
			margin: 15px 4px 0 9px;
		}
		.con1 #next{
			background:url("../images/qianjin.png") 14px 12px no-repeat;
			margin: 15px 0 0 0;
		}
		.con1 #play{
			width: 57px;
			height: 57px;
			margin: 6px 4px 0 0;
			background:url("../images/play.png") no-repeat;
		}
		.sound {
			float: left;
			margin: 0 46px 0 30px;
			height: 69px;
			width: 68px;
			position: relative;
		}
		.sound_have{
			display: block;
			width: 12px;
			height: 12px;
			margin: 30px 0 0 0;
			overflow: hidden;
			background: url("../images/sound.png") no-repeat;
		}
		.sound .grayp {
			width: 49px;
			height: 2px;
			overflow: hidden;
			background: #b6b6b6;
			position: absolute;
			top: 35px;
			right: 1px;
		}
		.sound .bluep {
			width: 50px;
			height: 12px;
			position: absolute;
			top: 29px;
			right: 0;
			cursor: pointer;
		}
		.bluep span{
			float: left;
			height: 2px;
			background: #20b6f1;
			margin-top: 6px;
			overflow: hidden;
		}
		.sound .kongzhia {
			background: url("../images/jinduhover.png") no-repeat;
			width: 12px;
			height: 12px;
			margin-top: 0;
		}
		.jindu {
			float: left;
		}
		.jindu var {
			float: left;
			width: 41px;
			margin-top: 28px;
			color: #6a6a6a;
			font-style: normal;
			font-size:12px;
		}
		.jindu2 {
			float: left;
			width: 394px;
			position: relative;
			margin-right: 10px;
			height: 69px;
		}
		.grayp2 {
			width: 394px;
			height: 2px;
			overflow: hidden;
			background: #dddddd;
			position: absolute;
			top: 35px;
			left: 0;
		}
		.grayp3 {
			height: 2px;
			overflow: hidden;
			background: #b6b6b6;
			position: absolute;
			top: 35px;
			left: 0;
		}
		.bluep2 {
			width: 394px;
			height: 12px;
			position: absolute;
			top: 29px;
			right: 0;
		}
		.bluep2 span {
			float: left;
			height: 2px;
			background: #20b6f1;
			margin-top: 6px;
			overflow: hidden;
		}
		.kongzhia {
			background: url("../images/jindu2.png") no-repeat;
			width: 9px;
			height: 9px;
			margin-top: 2px;
		}